<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>sideproject_待辦事項</title>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<!-- font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- cookie -->
	<script type="text/javascript" src="templjs/jquery.cookie.js"></script>
	<!-- bootstrap-select -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-select.js"></script>
	<!-- flatpickr -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<!-- animate.css -->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<script type="text/javascript">
		//警告訊息
		$(function(){
			var warning = $.cookie('warning');
			if (warning != null) {
				alert(warning);
				$.removeCookie('warning');
			}
		});
	</script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    		<a class="navbar-brand" href="index.php">待辦事項</a>
    		<ul class="navbar-nav ml-auto">
			    <li class="nav-item dropdown">
			    	{% if user_id != ''%}
			      	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      	{% if user_name != '' %}
			      	{{user_name}}
			      	{% else %}
			      	歡迎
			      	{% endif %}
			      	</a>
			      	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			        	<a class="dropdown-item" href="profile.php">資料</a>
			        	<a class="dropdown-item" href="logout.php">登出</a>
			    	</div>
			    	{% else %}
			    	<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      	<i class="fa fa-bars" aria-hidden="true"></i>
			      	</a>
			      	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			        	<a class="dropdown-item" href="login.php">登入</a>
			        	<a class="dropdown-item" href="register.php">註冊</a>
			    	</div>
			    	{% endif %}
			    </li>
			</ul>
  		</nav>
  		{% block content %}{% endblock %}
  		<blockquote class="blockquote text-right">
		  	<p class="mb-0">todolist by ginoking</p>
		  	<footer class="blockquote-footer">create in <cite title="Source Title">2019-10-06</cite></footer>
		</blockquote>	
	</div>
	{% block script %}
	{% endblock %}
</body>
</html>