{% extends 'base.html' %}
{% block content %}
<!-- Default form login -->
<div class="row">
    <div class="col-md-12">
        <form class="text-center border border-light p-5" action="login1.php" method="post">

            <p class="h4 mb-4">登入</p>

            <!-- Email -->
            <input type="email" name="email" class="form-control mb-4" placeholder="E-mail" value="{{email}}">

            <!-- Password -->
            <input type="password" name="password" class="form-control mb-4" placeholder="Password" value="{{pwd}}">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" name="remember_me">
                        <label class="custom-control-label" for="defaultLoginFormRemember">記住我</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="" data-toggle="modal" data-target="#forget_password">忘記密碼?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-dark btn-block my-4" type="submit">登入</button>

            <!-- Register -->
            <p>還沒加入?
                <a href="register.php">去註冊</a>
            </p>

            <!-- Social login -->
            <p>or</p>

            <a href="#" class="mx-2" role="button"><i class="fa fa-facebook-official light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fa fa-twitter light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fa fa-linkedin light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fa fa-github light-blue-text"></i></a>

        </form>
        <!-- Default form login -->
        <div class="modal fade" id="forget_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="email" action="sendemail.php" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">忘記密碼?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="請輸入信箱" name="email">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
