{% extends 'base.html'%}
{% block content %}
<div class="row center">
	<div class="col-md-10 center">
		<div class="col-md-4 card-width">
			<div class="card-container manual-flip">
				<div class="card">
				<form action="profile_update.php" method="post" id="profile" enctype="multipart/form-data">
					<div class="front">
						<div class="cover">
							{% if bg_img %}							
							<img src="{{bg_img}}" class="img_bg">
							{% else %}
							<img src="images/FotoJet.png" class="img_bg" width="100%">
							{% endif %}
						</div>
						<div class="user">
							{% if sticker %}
							<img src="{{sticker}}" class="img-circle" width="100%">
							{% else %}
							<img src="images/avatar.png" class="img-circle" width="100%">
							{% endif %}
						</div>
						<div class="content">
							<div class="main">
								<input type="text" name="e_name" class="name" value="{{e_name}}">
								<input type="text" name="job_title" value="{{job_title}}" class="profession" placeholder="job title">
								<textarea class="description text-center" name="des" placeholder="自我介紹吧">{{des}}</textarea>
							</div>
							<div class="footer">
								<button type="button" class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> 翻面
                                </button>
							</div>
						</div>
					</div>
					<div class="back">
						<div class="header">
							<input type="text" name="motto" class="motto" value='{{motto}}' placeholder="最喜歡的一句話">
						</div>
						<div class="content">
							<div class="main">
								<input type="text" name="c_name" value="{{user_name}}" class="name">
								<p class="profession">job description</p>
								<textarea class="description text-center" name="job_des" placeholder="工作內容">{{job_des}}</textarea>
							</div>
							<div class="footer">
								<div class="social-links">
									<a href="#" onclick="document.getElementById('profile').submit()">儲存</a>
								</div>
								<button type="button" class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
	                                <i class="fa fa-reply"></i> Back
	                            </button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="padding: 0 15px;">
				<label class="input_file">上傳頭像
					<input type="file" name="img" class="uploadFile" style="display: none;">
					<input type="hidden" name="sticker_path" value="{{sticker}}">
				</label>
				<label class="input_file">上傳背景圖
					<input type="file" name="bg_img" class="uploadFile" style="display: none;">
					<input type="hidden" name="bg_path" value="{{bg_img}}">
				</label>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">

	$(document).on("change",'.uploadFile', function(){
		var uploadFile = $(this);
		var name = uploadFile[0].name;
		if (name == 'img') {
			var class_name = '.img-circle';
		}
		else{
			var class_name = '.img_bg';
		}
		console.log(class_name);
		var files = !!this.files ? this.files : [];
		if (!files.length || !window.FileReader) return;

		if (/^image/.test(files[0].type)) {
			var reader = new FileReader();
			reader.readAsDataURL(files[0]);
			reader.onloadend = function(){
				$(class_name).attr("src",this.result);
			}
		}
	})
	
	function rotateCard(btn){
	    var $card = $(btn).closest('.card-container');
	    console.log($card);
	    if($card.hasClass('hover')){
	        $card.removeClass('hover');
	    } else {
	        $card.addClass('hover');
	    }
	}

</script>
{% endblock %}