{% extends 'base.html'%}
{% block content %}
<div class="row center">
	<div class="col-md-10 center">
		<div class="col-md-4">
			<div class="card-container manual-flip">
				<div class="card">
				<form action="update_profile.php" method="post" id="profile">
					<div class="front">
						<div class="cover">
							<img src="templates/images/rotating_card_thumb2.png">
						</div>
						<div class="user">
							<img src="templates/images/rotating_card_profile3.png" class="img-circle">
						</div>
						<div class="content">
							<div class="main">
								<input type="text" name="e_name" class="name" value="{{e_name}}">
								<input type="text" name="job_title" value="{{job_title}}" class="profession">
								<textarea class="description text-center">123</textarea>
							</div>
							<div class="footer">
								<button type="button" class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> 翻面
                                </button>
							</div>
						</div>
					</div>
					<div class="back">
						<div class="header">
							<input type="text" name="motto" class="motto" value='"{{motto}}"'>
						</div>
						<div class="content">
							<div class="main">
								<h4 class="text-center">
									Job Description
								</h4>
								<textarea class="description text-center">123</textarea>
							</div>
							<div class="footer">
								<div class="social-links">
									<a href="#" onclick="document.getElementById('profile').submit()">儲存</a>
								</div>
								<button type="button" class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
	                                <i class="fa fa-reply"></i> Back
	                            </button>
							</div>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}