{% extends 'base.html'%}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<!-- Default form register -->
		<form class="text-center border border-light p-5" action="register1.php" method="post">

		    <p class="h4 mb-4">註冊囉</p>

		    <div class="form-row mb-4">
		        <div class="col">
		            <!-- First name -->
		            <input type="text" name="name" class="form-control" placeholder="姓名">
		        </div>
		    </div>

		    <!-- E-mail -->
		    <input type="email" name="email" class="form-control mb-4" placeholder="E-mail">

		    <!-- Password -->
		    <input type="password" name="pwd" class="form-control" placeholder="密碼" aria-describedby="defaultRegisterFormPasswordHelpBlock">
		    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
		        At least 8 characters and 1 digit
		    </small>

		    <!-- Sign up button -->
		    <button class="btn btn-dark my-4 btn-block" type="submit">註冊</button>

		    <hr>

		    <!-- Terms of service -->
		    <p>By clicking
		        <em>Sign up</em> you agree to our
		        <a href="" target="_blank">terms of service</a>
		</form>
		<!-- Default form register -->
	</div>
</div>
{% endblock %}